

ul {
	padding-left: 1em;
}

.cuisine.label{
	font-size: 1.2em;
	line-height: 2em;
}
div.cuisines{
	margin: 1.2em 0;
}
.location.label{
	font-size: 1.2em;
	text-align: right;
	float: right;
	font-weight: normal;
}
.cost.label{
	font-size: 1.1em;
}
.panel-heading h3{
	margin:0;
}
.panel h4{
	margin-top:0;
}
.panel .field{
	margin-bottom: 0.5em;
}
.panel .well{
	margin-bottom: 0;
}
.thumbnail{
	max-width: 10em;
}
.header .thumbnail{
	float: left;
}
.panel .thumbnail{
	max-width: 10em;
	margin: 0 auto;
}

h3.search .label{
	display: block;
}
h1 {
	font-size: 2em;
}

@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 36px;
	}
}


a[ng-click]{
    cursor: pointer;
}

#updateAvailabe{
	text-align: center;
	position: fixed;
	top: 0.5em;
	width: 95%;
	padding-bottom: 0.5em; 
	margin: 0 auto;
	border: 1px solid green;
	background-color: white;
}
#updateAvailabe h4{
	margin:0;
	padding: 0.5em;
	background-color: green;
	color: #fff;
}
#updateAvailabe button {
	font-weight: bold;
	border: 1px solid lightgray;
	background-color: lightgray;
}