

ul {
	padding-left: 1em;
}

.cuisine.label{
	font-size: 1.2em;
}
.location.label{
	font-size: 1.2em;
	text-align: right;
	float: right;
	font-weight: normal;
}
.cost.label{
	font-size: 1.1em;
}
.panel-heading h3{
	margin:0;
}
.panel h4{
	margin-top:0;
}
.panel .field{
	margin-bottom: 0.5em;
}
.panel .well{
	margin-bottom: 0;
}
.thumbnail{
	max-width: 10em;
}
.header .thumbnail{
	float: left;
}
.panel .thumbnail{
	max-width: 10em;
	margin: 0 auto;
}

h3.search .label{
	display: block;
}
h1 {
	font-size: 2em;
}

@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 36px;
	}
}
